[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
langchain-openai = "*"
langchain-community = "*"
langchainhub = "*"
chromadb = "*"
bs4 = "*"
datasets = "*"
ipykernel = "*"
pandas = "*"
jupyter = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
